@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

/* Diseño de página */
html {
  background: #333;
  color: white;
  font-family: 'Source sans Pro', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

tt,
pre {
  font-family: 'Source Code Pro', monospace;
}

main {
  flex: 1 0 auto;
  padding-top: 1em;
}

nav, footer.page-footer {
  background: #222;
}
nav .headline {
  font-size: 2.5em;
}
nav .brand-logo img {
  height: 2em;
}

.parallax-container {
  height: auto;
  background: #000C;
}
.parallax-container .parallax img {
  width: 120vw;
}
.parallax-container .parallax img.nojs {
  position: unset;
  opacity: 1;
  transform: unset;
  left: unset;
  object-fit: cover;
  height: 100%;
}
.parallax-container .container {
  text-shadow:
  1px 1px 1px black,
  1px -1px 1px black,
  -1px 1px 1px black,
  -1px -1px 1px black;
  margin-bottom: 1.5em;
}

/* Títulos y subtitulos */
h1 {
  color: #99f;
  font-size: 2rem;
  margin: 0.5em 0 0.2em;
}
h2 {
  font-size: 2rem;
  margin: auto 0;
  line-height: unset;
}
h1 > span,
h2 > span {
  font-size: 0.4em;
  font-weight: bold;
  opacity: 0.7;
}

/* Textos y contenido */
p {
  margin: 0 0 0.5em;
}
p.en {
  opacity: 0.8;
  font-size: 0.8em;
}

.row .col.side-content {
  font-size: 0.8em;
}
.side-content h1 {
  font-size: 1.3rem;
}
.side-content h1 > span {
  font-size: 0.7em;
  font-weight: normal;
}
.side-content p.en {
  font-size: 0.9em;
}

/* Avatar */
img.avatar {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

/* Diseño de pagina para impresión */
.only-print {
  display: none;
}

@media only print {
  html {
    color: black;
    background: white;
    font-size: 13px;
    line-height: unset;
  }

  nav {
    background: unset;
    color: unset;
    box-shadow: unset;
  }
  nav .brand-logo > img {
    filter: invert(100%);
  }

  .only-print {
    display: unset;
  }

  .no-print {
    display: none;
  }

  .container {
    max-width: unset;
    margin: auto;
  }

  .row .col.m3 {
    width: 25%;
  }

  .row .col.m9 {
    width: 75%;
  }

  h1 {
    color: black;
    font-weight: bold;
  }
  h2 {
    color: #333;
    font-weight: normal;
  }
  h1,
  h2 {
    margin: 0.2em auto auto;
    line-height: unset;
  }
  h1 > span,
  h2 > span {
    font-size: 0.7em;
    font-weight: normal;
    opacity: 1;
    color: #555;
  }

  a {
    color: black;
  }
}

/* Omite elementos si no hay JS */
.nojs.unshow {
  display: none;
}
